// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #6267DA;
$secondary : #FBCD85;
$accent    : #9C27B0;

$dark      : #14142B;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #EAE8FF;
$warning   : #F2C037;

@import '~quasar-variables-styl';
