node_modules/
build/
dist/

.env
.turbo

yarn.lock
yarn-error.log
.idea


.vercel
/frontend/capsho-app/public/
.history
.fleet

.vercel
apps/capsho-app/src/modules/podcast/components/transcripts/sample.json
