// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #6267DA;

$dark      : #1D1D1D;

$positive  : #62DA99;
$negative  : #DA62A3;
$info      : #31CCEC;
$warning   : #DAD562;
$orange    : #FBCD85;

$app-border-color: rgba(0, 0, 0, 0.12);
