// @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Abril Fatface";
  src: url("../assets/fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Audiowide";
  src: url("../assets/fonts/Audiowide-Regular.ttf");
}
@font-face {
  font-family: "Average";
  src: url("../assets/fonts/Average-Regular.ttf");
}
@font-face {
  font-family: "Calligraffitti";
  src: url("../assets/fonts/Calligraffitti-Regular.ttf");
}
@font-face {
  font-family: "Carrois Gothic";
  src: url("../assets/fonts/CarroisGothic-Regular.ttf");
}
@font-face {
  font-family: "Chewy";
  src: url("../assets/fonts/Chewy-Regular.ttf");
}
@font-face {
  font-family: "Chicle";
  src: url("../assets/fonts/Chicle-Regular.ttf");
}
@font-face {
  font-family: "Concert One";
  src: url("../assets/fonts/ConcertOne-Regular.ttf");
}

// app global css in SCSS form
$darkish: #3E3E3E;
$dark-blue: #14142B;
$light-blue: #F9F9FF;
$readable-primary: #111;
$readable-secondary: rgba(73, 56, 81, 0.53);

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
pre,
ul {
  margin: 1rem 0;
}

p {
  margin: 0.5rem 0;
}

blockquote:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
ol:first-child,
p:first-child,
pre:first-child,
ul:first-child {
  margin-top: 0;
}

h1:first-child {
  padding-bottom: 6px;
  margin-bottom: 1.2rem;
}

blockquote:last-child,
h1:last-child,
h2:last-child,
h3:last-child,
ol:last-child,
p:last-child,
pre:last-child,
ul:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
}

header {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.main-module {
  background: linear-gradient(295.81deg, #FBCD85 -23.19%, #FCFCFC 118.27%);
}

.auth-module {
  background: linear-gradient(321.86deg, #FFFFFF 37.07%, #F5F4FF 91.59%);
}

.bg-default {
  background: linear-gradient(321.86deg, #FFFFFF 37.07%, #F5F4FF 91.59%);
}

/********** Fonts **********/
.inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
.inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.inter-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}
.lexend-light {
  font-family: 'Lexend', sans-serif;
}
.lexend-regular {
  font-family: 'Lexend', sans-serif;
}
.lexend-medium {
  font-family: 'Lexend', sans-serif;
}
.lexend-bold {
  font-family: 'Lexend', sans-serif;
}
.dm-sans-regular {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
.dm-sans-medium {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
}
.dm-sans-bold {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}
.source-serif-pro-regular {
  font-family: 'Source Serif Pro', serif;
}
.monserrat-regular {
  font-family: 'Montserrat', sans-serif;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.robot-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.robot-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/********** Font sizes **********/
.text-10 {
  font-size: 10px;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
  font-size: clamp(13px, 2vw, 14px);
}
.text-15 {
  font-size: 15px;
  font-size: clamp(13px, 2vw, 15px);
}
.text-16 {
  font-size: 16px;
  font-size: clamp(14px, 2vw, 16px);
}
.text-18 {
  font-size: 18px;
  font-size: clamp(0.8rem, 2vw, 18px);
}
.text-18 {
  font-size: 18px;
}
.text-20 {
  font-size: 20px;
}
.text-22 {
  font-size: 22px;
}
.text-25 {
  font-size: 25px;
}
.text-40 {
  font-size: 40px;
}

/********** Text styles **********/
.letter-spacing-1 {
  letter-spacing: 1px;
}
.text-underline {
  text-decoration: underline;
}

.tooltip-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #F5F4FF;
  border-radius: 16px;
  max-width: 320px;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: $dark-blue;
}

.blurred-text {
  font-size: 17px;
  line-height: 2.5;
  color: $darkish;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
  filter: blur(3.5px);
  -webkit-filter: blur(3.5px);
}

.readable-text {
  font-size: 16px;
  line-height: 2.5;
  color: $grey-3;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.text-grey-secondary {
  color: $readable-secondary;
}

/********** Borders **********/
.border-radius-6 {
  border-radius: 6px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-23 {
  border-radius: 23px;
}

/********** Margins **********/
.mt-8{
  margin-top: 8px;
}
.mt-30{
  margin-top: 30px;
}
.mr-30{
  margin-right: 30px;
}
.mr-48 {
  margin-right: 48px;
}
.mt-58 {
  margin-top: 58px;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-80 {
  margin-bottom: 80px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
/********** Paddings **********/
.pt-58 {
  padding-top: 58px;
}
/********** Custom colors **********/
.custom-green {
  color: rgb(16, 201, 122);
}
.custom-red {
  color: #C9105F;
}
.custom-dark-blue {
  color: rgb(18 24 38/1);;
}
.grayscale {
  color: $dark-blue;
}
.text-orange-brand {
  color: rgba(251, 205, 133, 1) !important;
}
.bg-orange-brand {
  background: rgba(251, 205, 133, 1) !important;
}

.text-button-dark-blue {
  color: rgb(41 48 64/1) !important;
}
.bg-button-dark-blue {
  background: rgb(41 48 64/1) !important;
}

.curtain {
  height: 530px;
  border-radius: 0 0 350px 0;
}

.text-darkish {
  color: $darkish;
}

.text-label {
  color: #727272;
}

.bg-primary-light-blue {
  background: $light-blue;
}

/********** Loading **********/
.loading-text {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
}
.loading-img {
  border-radius: 17px;
  //max-width: 650px;
  width: 80%;
}

/********** Buttons **********/
.app-button {
  border-color: $app-border-color;
  border-radius: 6px;
}

.btn-grey {
  background-color: rgb(41 48 64/1);
}


/********** Inputs **********/
@-webkit-keyframes autofill {
  to {
    color: inherit;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -webkit-box-shadow:0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

// CapshoInput
.label {
  font-family: 'Inter',serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  align-items: center;
  text-align: center;
}
.q-field__inner {
  background-color: $dark;
  border-radius: 25px;
}
.child-bg-darkish {
  & > .q-field__inner {
    background-color: $darkish;
    border-radius: 25px;
  }
}
.q-field--outlined .q-field__control:before {
  border-radius: 25px;
}
.q-field--outlined .q-field__control:after {
  border-radius: 25px;
}
.google-btn.q-btn--outline:before{
  background-color: white;
}

/********** Others **********/
.q-field--outlined .q-field__control {
  // background: none !important;
  // border-radius: 6px;
  border: inherit;
  font-size: clamp(14px, 2vw, 16px);
  padding: 0 18px;
  min-height: 40px;
}

.q-field__append {
  height: inherit;
}
.q-field--highlighted .q-field__label {
  color: rgba(0,0,0,0.2);
}
.q-field--highlighted .q-field__shadow {
  opacity: 0.5;
}
.q-field--outlined .q-field__control:hover:before,
.q-field--outlined .q-field__control:before {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.form-input {
  background: none !important;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 6px;
  font-size: 16px;
  padding: 12px 18px;
}

.app-input {
  align-items: center;
  padding: 0;
  height: 41px;
  background: rgba(245, 245, 245, 0.2);
  &:focus {
    border: 1.43119px solid #6267DA;
    box-shadow: 0 0 4px #6267DA;
  }
}

/********** Others **********/
.custom-label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  color: $grey;
}

.custom-toggle-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #6267DA;
}

//.q-toggle__track {
//  background-color: #6267DA !important;
//  height: 21px !important;
//  border-radius: 20px !important;
//  margin-top: -3px !important;
//}

.q-drawer {
  z-index: 99 !important;
}

/********** Upgrade to a plan **********/
.apply-border {
  border: 1px solid rgba(20, 20, 43, 0.3);
  border-radius: 20px;
}
.card-wrapper {
  position: absolute;
  border-radius: 50px;
  width: 100%;
  max-width: 659px;
  margin: 0 auto;
}
.upgrade-card {
  border-radius: 34px;
  margin: 0 auto;
  min-height: 50vh;
  max-height: 80vh;
  &__actions {
    position: absolute;
    left: 0;
    top: -136px;
  }
}
.upgrade-container {
  position: relative;
}

/********** Sign up Progress Bar **********/
@keyframes progress-bar-stripes {
  from {
    background-position: 12px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background-color: $dark;
  box-shadow: none;
}
.progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
  background-color: $accent;
  border-radius: 3px;
}
.progress__bar--animated {
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  animation: progress-bar-stripes 1s linear infinite;
  background-size: 12px 12px;
}

.potent-quotable {
  font-weight: 500 !important;
}

.file-processing-error-card {
  width: 100%;
  max-width: 550px;
  border-radius: 10px;
}

// episode-draft page
.bg-main-black {
  background-color: $dark;
}

// Editor parent area style
.parent {
  width: 100%;
  height: 297mm;
  position: absolute;
  left: 23px;
  user-select: none;
  border: 1px dashed grey;
}

// Editor v-drag-drop style
.vdr {
  border: 3px solid transparent !important;
  width: 100%;

  .drag {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2.8rem;
    left: 0;
    transform: translateX(0.3rem);
    background: aqua;
    height: 2rem;
    width: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: all 400ms ease;
    cursor: move !important;
    opacity: 0;
  }

  .add {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.3rem;
    left: -2rem;
    background: aqua;
    height: 2rem;
    width: 2rem;
    transition: all 400ms ease;
    opacity: 0;
  }

  .setting_btn{
    position: absolute;
    opacity: 0;
  }

  .setting{
    top: 0;
    left: 10px;
    transform: translateY(10px);
    transition: all 250ms ease;
  }

  .delete{
    right: 0;
    top: 5px;
    transform: translateY(-10px);
    transition: all 250ms ease;
    transition-delay: 150ms;
  }

  &.active{
    border: 3px solid aqua !important;

    .drag {
      transform: translateX(-100%);
      z-index: 900;
      width: 2rem;
      opacity: 1;
    }

    .add {
      z-index: 900;
      width: 2rem;
      opacity: 1;
    }

    .setting{
      transform: translateY(-120%);
      opacity: 1;
    }
    .delete{
      transform: translateX(120%);
      opacity: 1;
    }
  }

  &:hover{

    .drag {
      transform: translateX(-100%);
      z-index: 900;
      width: 2rem;
      opacity: 1;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
    .add {
      z-index: 900;
      width: 2rem;
      opacity: 1;
    }
  }
}

// for disable underline of q-input element
.q-field--standard .q-field__control:before{
  border-bottom-style: none !important;
}

.border-none{
  border: none !important;
}

// Dialog
.q-dialog__inner--minimized > div {
  max-width: none !important;
}

/** Scrolllbar **/
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/**********************************/
/*******       Theme       ********/
/**********************************/
.body--dark {
  .bg-background {
    background-color: #212121;
  }
  .text-background {
    color: #212121;
  }
  .bg-accent-custom {
    background-color: #02b7e4;
  }
  .text-accent-custom {
    color: #02b7e4;
  }
  .bg-button-not-accent {
    background-color: #212121;
  }
  .text-button-not-accent {
    color: #212121;
  }
  .bg-icon-not-accent {
    background-color: #a2a2a2;
  }
  .text-icon-not-accent {
    background-color: #a2a2a2;
  }
  .bg-icon-for-toolbar {
    background-color: #ffffff;
  }
  .text-icon-for-toolbar {
    color: #ffffff;
  }
  .bg-header {
    background-color: #313131;
  }
  .text-header {
    color: #313131;
  }
  .bg-text {
    background-color: #ffffff;
  }
  .text-text {
    color: #ffffff;
  }
  .bg-background-any-box-popup {
    background-color: #454545;
  }
  .text-background-any-box-popup {
    color: #454545;
  }
  .bg-input-box-inside-box-popups {
    background-color: #212121;
  }
  .text-input-box-inside-box-popups {
    color: #212121;
  }
  .bg-subtitle-light-grey {
    background-color: #a2a2a2;
  }
  .text-subtitle-light-grey {
    color: #a2a2a2;
  }
  .bg-blog-post-preview-titlebox {
    background-color: #000000;
  }
  .text-blog-post-preview-titlebox {
    color: #000000;
  }
  .bg-processing-bar-green {
    background-color: #49be4c;
  }
  .text-processing-bar-green {
    color: #49be4c;
  }
  .bg-processing-bar-red {
    background-color: #49be4c;
  }
  .text-processing-bar-red {
    color: #49be4c;
  }
  .bg-processing-bar-yellow {
    background-color: #f7e300;
  }
  .text-processing-bar-yellow {
    color: #f7e300;
  }
  .bg-trash-can {
    background-color: #fa5c5c;
  }
  .text-trash-can {
    color: #fa5c5c;
  }
}

.body--light {
  .bg-background {
    background: linear-gradient(321.86deg, #FFFFFF 37.07%, #F5F4FF 91.59%);
  }
  .text-background {
    color: #FFFFFF;
  }
  .bg-accent-custom {
    background-color: #8608de;
  }
  .text-accent-custom {
    color: #8608de;
  }
  .bg-button-not-accent {
    background-color: #EEEEEE;
  }
  .text-button-not-accent {
    color: #EEEEEE;
  }
  .bg-icon-not-accent {
    background-color: #212121;
  }
  .text-icon-not-accent {
    background-color: #212121;
  }
  .bg-icon-for-toolbar {
    background-color: #000000;
  }
  .text-icon-for-toolbar {
    color: #000000;
  }
  .bg-header {
    background-color: #ffffff;
  }
  .text-header {
    color: #ffffff;
  }
  .bg-text {
    background-color: #000000;
  }
  .text-text {
    color: #000000;
  }
  .bg-background-any-box-popup {
    background: #Ffffff;
  }
  .text-background-any-box-popup {
    color: #Ffffff;
  }
  .bg-input-box-inside-box-popups {
    background-color: #Ffffff;
  }
  .text-input-box-inside-box-popups {
    color: #Ffffff;
  }
  .bg-subtitle-light-grey {
    background-color: #212121;
  }
  .text-subtitle-light-grey {
    color: #212121;
  }
  .bg-blog-post-preview-titlebox {
    background-color: #000000;
  }
  .text-blog-post-preview-titlebox {
    color: #000000;
  }
  .bg-processing-bar-green {
    background-color: #49be4c;
  }
  .text-processing-bar-green {
    color: #49be4c;
  }
  .bg-processing-bar-red {
    background-color: #49be4c;
  }
  .text-processing-bar-red {
    color: #49be4c;
  }
  .bg-processing-bar-yellow {
    background-color: #f7e300;
  }
  .text-processing-bar-yellow {
    color: #f7e300;
  }
  .bg-trash-can {
    background-color: #fa5c5c;
  }
  .text-trash-can {
    color: #fa5c5c;
  }
}
