$primary   : #1976D2;
$secondary : #02b7e4;
$accent    : #02b7e4;

$dark      : #222222;
$secondary-dark : #404040;
$dark-skeleton      : #1D1D1D7F;

$positive  : #62DA99;
$negative  : #DA62A3;
$info      : #31CCEC;
$warning   : #DAD562;
$orange    : #FBCD85;

$app-border-color: rgba(0, 0, 0, 0.12);

$header-height      :   82px;

$app-bg-video: #222222;
$app-bg-toolbar: #2c2c2c;
$app-bg-toolbar-buttons: #343434;

$app-subtitle: #525252;
$app-header: #313131;

$color-hint: #A2A2A2;
